.chatCont{
  width: 80%;
  height:90%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 14px;
  padding: 20px;
  .connect{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    .room{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap:10px;
      .userandroom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .user{
          padding: 5px;
          width: 30px;
          height: 30px;
          background-color: #60adb2;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }



    }

  }
  .inputArea{
    position: relative;
    display: flex;
    flex-basis: 5%;
    .send{
    position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .iconCont{
        cursor: pointer;
        width: 70%;
        aspect-ratio:1;
        background-color: #60adb2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    textarea{
      border: 3px solid black;
      border-radius: 7px;
      width: 100%;
      padding: 5px;
    }
  }

  .messagesArea{
    width: 100%;
    display: flex;
    flex-basis: 95%;
    flex-direction: column;
    max-height: 90%;

    .chat{
      margin-top: 10px;
      width: 100%;
      display: flex;
      max-height: 80%;
      flex-basis: 90%;
      flex-direction: column;
      overflow: hidden;
      gap:10px;
      overflow-y: scroll;
      border: 1px solid gray;
      border-radius: 14px;
      .message{
        max-width: 70%;
        background-color: blue;
        border-radius: 14px;
        padding: 10px;
      }
    }

  }


  .btn{
    background-color: #60adb2;
    padding: 5px 15px;
    margin: 0;
    width: fit-content;

  }
  .delete{
    background-color: red;
  }

  .btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

  }
}